@charset "utf-8";
/* CSS Document */
	   
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);
	   
	   body {
          margin: 0;
          padding: 0;
          font-family: "Poppins";
          // text-rendering: optimizeLegibility !important;
          // -webkit-font-smoothing: antialiased;
		  user-select: none; /* supported by Chrome and Opera */
		  -webkit-user-select: none; /* Safari */
		  -khtml-user-select: none; /* Konqueror HTML */
		  -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
        }
        .container {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        .left {
          height: 100vh;
          flex: 50%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-between;
          background: #15172e;
        }
        .leftContent {
          margin-top: 260px;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
		
        @media only screen and (max-width: 600px) {
          .leftContent {
            margin-top: 150px;
          }
		  .leftContent .appDescription {
          font-size: 20px;
		  }
        }
        .right {
          height: 100vh;
          flex: 50%;
          background-image: url(static/confettipattern.png);
          background-repeat: repeat;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
		
        @media only screen and (max-width: 600px) {
          .right {
            display: none;
          }
        }
        .rightContent {
        margin-top:300px;
        background-color:#15172e;
        max-width:350px;
        max-height:350px;
        width:100%;
        height:100%;
        border: 6px solid #f4294f;
        box-shadow: -4px 4px 10px rgba(0, 0, 0, .15);
        border-radius:50%;
        padding:10px;
        }

        .appName {
          text-align: center;
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 40px;
          font-weight: 700;
          color: #fff59c;
          line-height: 1.2;
          letter-spacing: 0;
          margin-bottom: 20px;
        }
        .appDescription {
          text-align: center;
		      max-width: 800px;
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          vertical-align: baseline;
          font-size: 30px;
          font-weight: 300;
          color: #f5f7f9;
          line-height: 1.4;
          letter-spacing: 2px;
          margin-bottom: 15px;
        }
        .getNotified {
          text-align: center;
          padding: 0;
          border: 0;
          font: inherit;
          vertical-align: baseline;
          font-size: 16px;
          font-weight: 300;
          color: rgba(255, 255, 255, 0.8);
          line-height: 1.6;
          margin: 0 auto;
        }
		.emailButton {
          border-width: 2px;
		      border-style: solid;
		      border-color: #f4294f;
          border-radius: 10px;
          border-radius: 10px;
          padding: 40px 40px 40px 40px;
          background: #15172e;
          font-family: 'poppins', san-serif;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: .1em;
          color: #fff59c;
          cursor: pointer;
          outline: none;
          transition: 500ms;
          margin: 40px;
        }

		a.emailButton:hover  {
          text-decoration: underline;
        }

		.blogButton {
          border-width: 2px;
		      border-style: solid;
		      border-color: #f4294f;
          border-radius: 10px;
          padding: 40px 40px 40px 40px;
          background: #15172e;
          font-family: 'poppins', san-serif;
          font-weight: 300;
          font-size: 14px;
          letter-spacing: .1em;
          color: #fff59c;
          cursor: pointer;
          outline: none;
          transition: 500ms;
        }
        .footer {
          list-style: none;
          list-style-type: none;
          letter-spacing: 0;
          box-sizing: border-box;
          padding: 0;
          border: 0;
          font: inherit;
          vertical-align: baseline;
          font-size: 12px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.8);
          line-height: 1.6;
          margin: 10px;
        }